DEV_SERVER_URL=http://127.0.0.1:8008
SERVER_URL=http://127.0.0.1:8008

# DO NOT commit this file to your repository!
# The SENTRY_AUTH_TOKEN variable is picked up by the Sentry Build Plugin.
# It's used for authentication when uploading source maps.
SENTRY_AUTH_TOKEN=
SENTRY_ORG=finda-starter
SENTRY_PROJECT=app
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
NEXT_PUBLIC_SENTRY_DSN=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

NEXT_PUBLIC_NOVU_APP_IDENTIFIER=

NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_ENCRYPTION_KEY=
